NODE_ENV="development"

# POSTGRES DB
DATABASE_URL="postgresql://username:password@hostname/database_name"

DIRECT_DATABASE_URL="postgresql://username:password@hostname/database_name"

JWT_SECRET="secret_key_for_jwt_token"